/*@import '~mdb-ui-kit/css/mdb.min.css';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --secondary-color: #9B9B9B;
    --third-color: #868689;
    --main-color: #060C14;
    --second-main-color: #FF7625;
}

[x-cloak] {
    display: none;
}

body{
    font-family: Figtree, sans-serif;
    font-weight: 500;
}

.fejlec{
    transition: all 0.2s;
    position: relative;
    margin-right: 30px;
}

.a-fejlec::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--second-main-color);
    position: absolute;
    top: 0;
    left: 0;
}

.fejlec:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
}

.reg{
    text-align: right;
}

.carousel-inner{
    width: 60%;
    height: 550px;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    height: 550px;
}

.carousel-item.active{
    height: 550px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

/*.auth-hatter{
    background-color: darkgrey;
}*/

.width-33{
    width: 33%!important;
}

.margin-top{
    margin-top: 15%;
}

.card-title{
    font-size: 28px;
}

.icon-size{
    font-size: 20px;
}

.font-weight-600{
    font-weight: 600;
}

.card-title-price{
    font-size: 22px !important;
}

.close {
    position: absolute;
    top: 0;
    right: -15px;
    cursor: pointer;
}

.card:hover .image{
    opacity: 0.5;
}

.card:hover .star{
    opacity: 1;
}

.star{
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.mt-6{
    margin-top: 10rem !important;
}

.search-header{
    background-color: var(--main-color);
    border-radius: 15px;
}

.text-15{
    font-size: 15px;
}

.text-25{
    font-size: 25px;
}

.text-56{
    font-size: 56px !important;
}

.shadow-custom{
    box-shadow: 5px 10px 18px var(--main-color);
}

.navbar{
    background-color: var(--main-color)!important;
    height: 80px;
    margin: 30px;
    border-radius: 20px;
    font-size: 18px;
}

.register-btn{
    background-color: var(--second-main-color) !important;
    position: relative;
    margin-right: 30px;
    border-radius: 15px;
}

.btn-second-main-color{
    background-color: var(--second-main-color) !important;
    border-radius: 15px;
}

.bg-section{
    background-color: var(--secondary-color);
}

.font-main-color{
    color: var(--main-color) !important;
}

.footer-bg{
    background-color: var(--main-color);
}

.bg-main-color{
    background-color: var(--main-color) !important;
}

.bg-secondary-color{
    background-color: var(--secondary-color);
}

.navbar-collapse{
    padding: 15px;
    border-radius: 15px;
}

.changeLang{
    background-color: var(--main-color);
    border-color: var(--second-main-color);
    border-radius: 15px;
}

.header{
    max-width: 1700px !important;
}

.custom-card{
    background-color: var(--main-color);
    border-radius: 15px;
    box-shadow: 5px 10px 18px var(--second-main-color);
}

.icon-orange{
    color: var(--second-main-color);
}

.custom-border{
    border-color: var(--second-main-color) !important;
}

@media (max-width: 992px){
    .carousel-inner{
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px){
    .auth-card-w{
        max-width: 100rem;
    }
}
