@import '~mdb-ui-kit/css/mdb.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body{
    font-family: Figtree, sans-serif;
    font-weight: 500;
}

.fejlec{
    transition: all 0.2s;
    position: relative;
    margin-right: 30px;
}

.a-fejlec::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.fejlec:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
}

.reg{
    text-align: right;
}

.carousel-inner{
    width: 60%;
    height: 550px;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    height: 550px;
}

.carousel-item.active{
    height: 550px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.auth-hatter{
    background-color: darkgrey;
}

.width-33{
    width: 33%!important;
}

.margin-top{
    margin-top: 15%;
}

.card-title{
    font-size: 28px;
}

.icon-size{
    font-size: 20px;
}

.font-weight-600{
    font-weight: 600;
}

.card-title-price{
    font-size: 22px !important;
}

.close {
    position: absolute;
    top: 0;
    right: -15px;
    cursor: pointer;
}

.card:hover .image{
    opacity: 0.5;
}

.card:hover .star{
    opacity: 1;
}

.star{
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.mt-6{
    margin-top: 10rem !important;
}

@media (max-width: 992px){
    .carousel-inner{
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px){
    .auth-card-w{
        max-width: 100rem;
    }
}
